<div class="footer__inner container">
	<div class="footer__copy">© 2024 - МТРПЗ - Privacy</div>
	<ul class="footer__add-links">
		<li>
			<a href="https://github.com/DreammyOleksandr/MTRPZ4" aria-label="GitHub">
				<svg width="98" height="96">
					<image href="/Materials/Git.png" x="0" y="0" height="40" width="40"></image>
				</svg>
			</a>
		</li>
	</ul>
</div>
